.formContainer {
  margin: 10px auto;
  align-self: center;
}

.formContainer ::selection {
  background: #12e8f0;
  color: #fff;
}

.formContainer .wrapper {
  overflow: hidden;
  max-width: 450px;
}

.formContainer .wrapper .title-text {
  display: flex;
  width: 200%;
}

.formContainer .wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.formContainer .wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.formContainer .slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.formContainer .slide-controls label.signup {
  color: #000;
}

.formContainer .slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: #ff840a;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.formContainer input[type="radio"] {
  display: none;
}

.formContainer #signup:checked ~ .slider-tab {
  left: 50%;
  background: #ff840a;
}

.formContainer #signup:checked ~ label.signup {
  color: #ffffff;
  cursor: default;
  user-select: none;
}

.formContainer #signup:checked ~ label.login {
  color: #000000;
}

.formContainer #login:checked ~ label.signup {
  color: #000;
}

.formContainer #login:checked ~ label.login {
  color: #ffffff;
  cursor: default;
  user-select: none;
}

.formContainer .wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.formContainer .form-container .form-inner {
  display: flex;
  width: 200%;
}

.formContainer .form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.formContainer .form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.formContainer .form-inner form .field i {
  font-size: 24px;
  margin: 0 12px;
}

.formContainer .form-inner form .field .icon {
  background: #ff840a;
  height: 100%;
  aspect-ratio: 1/1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px 0 0 7px;
}

.formContainer .form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
  margin-right: 12px;
  border-radius: 0 7px 7px 0;
}

.formContainer .form-inner form .field input:focus {
  border-color: #ff840a;
}

.formContainer .form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

.formContainer form .field input:focus::placeholder {
  color: #b3b3b3;
}

.formContainer .form-inner form .pass-link {
  margin-top: 5px;
}

.formContainer .form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.formContainer .form-inner form .pass-link a,
.formContainer .form-inner form .signup-link a {
  color: #0e45dd;
  text-decoration: none;
}

.formContainer .form-inner form .pass-link a:hover,
.formContainer .form-inner form .signup-link a:hover {
  text-decoration: underline;
}

.formContainer form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.formContainer form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: #ff840a;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.formContainer form .btn:hover .btn-layer {
  left: 0;
}

.formContainer form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

:root {
  --main-bg-color: #fff;
  --second-bg-color: #fff;
  --third-bg-color: #e3e3e3;
  --grey: #4b4b4b;
  --black: #000;
  --red: #c0392b;
  --top-header-size: 30px;
  --mid-header-size: 80px;
  --bottom-header-size: 45px;
  --btn-bg: #000;
  --btn-border-color: #000;
  --btn-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1366px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}

.bg-second {
  background-color: var(--second-bg-color);
}

.bg-main {
  background-color: var(--main-bg-color);
}

.text-red {
  color: var(--red);
}

.mobile-menu {
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  display: none;
}

.mb-menu-close {
  display: none;
}

.top-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header ul {
  display: flex;
}

.top-header a {
  font-size: 13px;
}

ul.devided > li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid;
}

ul.devided > li:last-child {
  border-right: none;
}

/* dropdown */
.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.dropdown-content {
  /* display: flex; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 10px);
  background-color: #fff;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2;
}

.dropdown-content > li > a {
  padding: 10px;
}

.dropdown-content > li:hover {
  color: var(--red);
}

/* end dropdown */

.mid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--main-bg-color);
}

.mb-logo {
  font-size: 25px;
  font-weight: 700;
}

.search {
  width: 600px;
  height: 40px;
  position: relative;
}

.search input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  outline: 0;
  padding: 0 20px;
  border-radius: 10px;
  border: 0;
  background-color: var(--second-bg-color);
}

.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  font-size: 25px;
}

.user-menu {
  display: flex;
}

.user-menu > li > a {
  font-size: 30px;
  margin-left: 15px;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  display: flex;
  height: var(--bottom-header-size);
}

.main-menu > li > a {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-weight: 600;
  height: 100%;
  text-transform: uppercase;
}

.main-menu > li {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.main-menu > li:hover {
  border-bottom: 2px solid var(--red);
}

/* mega menu */

.mega-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  top: calc(100% + 100px);
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mega-dropdown:hover .mega-content {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.mega-content h3 {
  margin: 20px 0;
  padding-left: 20px;
}

.mega-content ul {
  display: flex;
  flex-direction: column;
}

.mega-content ul > li > a {
  font-weight: normal;
  padding: 10px 0;
  border-bottom: 2px dashed #f5f5f5;
  transition: padding-left 0.2s ease-in-out;
  margin: 0 20px;
  text-transform: capitalize;
}

.mega-content ul > li > a:hover {
  padding-left: 10px;
}

.mega-content ul > li {
  border-bottom: 2px solid transparent;
}

.mega-content ul > li:hover {
  border-bottom: 2px solid var(--red);
}

/* end mega menu */

footer {
  padding: 100px 0;
}

.footer-head {
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer ul li {
  margin-bottom: 10px;
}

.contact-header {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 38px;
}

.contact-socials {
  display: flex;
  justify-content: center;
}

.contact-socials a {
  font-size: 30px;
  margin: 0 10px;
}

.contact-socials a:hover {
  color: var(--grey);
}

.menu li a {
  text-transform: capitalize;
  transition: transform 0.3s ease-in-out;
}

.menu li a:hover {
  color: var(--red);
  transform: translateX(10px);
}

.subscribe {
  position: relative;
  margin-top: 20px;
}

.subscribe input {
  width: 100%;
  height: 50px;
  outline: 0;
  border: 0;
  padding: 0 30px;
}

.subscribe button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  outline: 0;
  border: 0;
  background-color: var(--red);
  color: var(--btn-color);
  padding: 10px;
  text-transform: uppercase;
}

.subscribe button:hover {
  background-color: var(--black);
}

.mb-menu-toggle {
  font-size: 25px;
}

.breadcumb {
  font-weight: 600;
  padding-left: 20px;
}

.breadcumb a {
  text-transform: capitalize;
}

.breadcumb a:hover {
  color: var(--red);
}

.breadcumb span {
  margin: 0 15px;
}

.filter-header {
  display: block;
  margin: 20px 0;
  font-weight: 600;
  text-transform: capitalize;
}

.filter-list > li {
  margin-bottom: 20px;
}

.filter-toggle-box {
  display: none;
}

.price-range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-range span {
  flex-grow: 1;
  text-align: center;
  margin: 0 10px;
}

.price-range input {
  width: 40%;
  outline: none;
  padding: 5px;
}

.group-checkbox {
  text-align: left;
}

.group-checkbox input {
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.group-checkbox label {
  cursor: pointer;
  padding-left: 40px;
  position: relative;
}

.group-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 22px;
  height: 22px;
  background-color: var(--main-bg-color);
  border: 2px solid #7b7979;
}

.group-checkbox label > i {
  position: absolute;
  left: 2px;
  top: -2px;
  color: var(--black);
  transform: scale(0);
  font-size: 21px;
  transition: transform 0.1s ease-in-out;
}

.group-checkbox input:checked + label i {
  transform: scale(1);
}

.rating i {
  color: #ffc107;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  font-size: 20px;
}

.pagination > li > a.active {
  background-color: var(--black);
  color: var(--main-bg-color);
}

.pagination > li > a:hover {
  border: 2px solid var(--black);
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img > img {
  max-width: 70%;
}

.product-img-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img-item {
  width: 90px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid var(--third-bg-color);
}

.product-img-item:hover {
  background-color: var(--second-bg-color);
}

.product-row {
  padding: 45px 0;
}

.product-info > * ~ * {
  margin-top: 25px;
}

.product-info-detail-title {
  font-weight: 600;
  color: gray;
}

.product-description {
  font-size: 18px;
  text-align: justify;
}

.product-info-price {
  font-weight: 600;
  font-size: 30px;
  color: var(--red);
}

.product-quantity-wrapper {
  display: flex;
  align-items: center;
}

.product-quantity {
  margin: 0 10px;
  font-size: 25px;
}

.product-quantity-btn {
  height: 30px;
  width: 30px;
  background-color: gray;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.product-quantity-btn i {
  font-size: 20px;
  color: var(--main-bg-color);
}

.box-header {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.product-detail-description {
  position: relative;
  margin-bottom: 90px;
}

.product-detail-description-content {
  text-align: justify;
  line-height: 26px;
  font-size: 16px;
  height: 600px;
  overflow-y: hidden;
  position: relative;
}

.product-detail-description-content.active {
  height: max-content;
}

.btn-view-description {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.user-rate {
  margin-bottom: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.user-avt {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-name {
  margin-left: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.user-rate-content {
  line-height: 25px;
}

/* responsive */

@media only screen and (max-width: 1280px) {
  .mobile-menu {
    display: flex;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x: auto;
    position: fixed;
    top: 0;
    right: 100%;
    background-color: var(--main-bg-color);
    z-index: 99;
    transition: right 0.3s ease-in-out;
  }

  .header-wrapper.active {
    right: 0;
  }

  .logo {
    font-size: 30px;
  }

  .mb-menu-close {
    display: block;
    position: absolute;
    right: 43px;
    top: 18px;
    z-index: 99;
    font-size: 25px;
  }

  .top-header {
    display: none;
  }

  .mid-header {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: unset;
  }

  .mid-header > * {
    margin-top: 15px;
  }

  .search {
    width: 100%;
  }

  .bottom-header {
    justify-content: flex-start;
  }

  .main-menu {
    flex-direction: column;
    height: unset;
  }

  .main-menu a {
    padding: 10px 0;
  }

  .mega-dropdown > a > i {
    display: none;
  }

  .mega-content {
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: unset;
    background-color: transparent;
    padding-left: 45px;
  }

  .mega-content h3 {
    font-size: 15px;
    padding: 5px 0;
    margin: unset;
  }

  .mega-content ul > li > a {
    padding: 5px 0;
  }

  .mega-content .img-row {
    display: none;
  }

  .hero {
    height: calc(
      80vh -
        (
          var(--top-header-size) + var(--mid-header-size) +
            var(--bottom-header-size)
        )
    );
    margin-bottom: 60px;
  }

  .slide {
    flex-direction: column-reverse;
  }

  .slide > .info,
  .slide > .img {
    width: 100%;
  }

  .slide > .img > img {
    max-width: 300px;
  }

  .info-content p {
    display: none;
  }

  .info-content button {
    margin-top: unset;
  }

  .slide-next,
  .slider:hover .slide-next {
    right: 40%;
  }

  .slide-prev,
  .slider:hover .slide-prev {
    left: 40%;
  }

  .slide-next,
  .slide-prev {
    bottom: -70px;
    transform: unset;
    top: unset;
  }

  .product-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    position: relative;
    margin-bottom: 20px;
  }

  .sp-item-info {
    padding-right: 35px;
  }

  .blog {
    flex-wrap: wrap;
  }

  .blog-img,
  .blog-info {
    width: 100%;
  }

  .filter-toggle-box {
    display: block;
  }

  .filter-col {
    position: fixed;
    width: 100%;
    background-color: var(--main-bg-color);
    z-index: 98;
    left: 100%;
    height: 80vh;
    overflow-y: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: left 0.2s ease-in-out;
  }

  .filter-col.active {
    left: 0;
  }

  .pagination {
    justify-content: center;
  }
}

@media only screen and (max-width: 750px) {
  .hero {
    height: calc(
      70vh -
        (
          var(--top-header-size) + var(--mid-header-size) +
            var(--bottom-header-size)
        )
    );
    margin-bottom: 60px;
  }

  .info-content h2 {
    margin: unset;
    font-size: 40px;
  }

  .promotion {
    padding-top: 45px;
  }

  .promotion-box {
    height: unset;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.row-revere {
  flex-direction: row-reverse;
}

[class*="col-"] {
  padding: 0 15px;
  margin-bottom: 20px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* medium screen */

@media only screen and (max-width: 1280px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/* small screen */

@media only screen and (max-width: 750px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.logo {
  font-weight: 700;
  width: 20%;
}

#mismatch-message {
  display: none;
  padding-left: 15px;
  color: red;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 450px 1fr;
}

.imageleft {
  justify-self: end;
}

.imageright {
  justify-self: start;
}
